


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
    <style>
    ul.a {
    font-size: 100%;
    }
        </style>
</head>
<body>

    <ul class="a">
        <li>@hikayeyaziyoruz.Resources.Home.kula @Session["kullanıcıAdi"]</li>
        <li>
            @hikayeyaziyoruz.Resources.Home.ad @Session["ad"]
        </li>
        <li>
            @hikayeyaziyoruz.Resources.Home.soyad @Session["soyad"] 
        </li>
        <li>E-Posta @Session["EPosta"]</li>
    </ul>
    
    
   
    



</body>
</html>
